* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

a {
  color: #E5E7EB;
  font-size: 18px;
  text-decoration: none;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
}

h1,
h3 {
  color: #F9FAF8;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 4px;
}

h2 {
  font-size: 32px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 112px;
}

.hero {
  background-color: #1F2937;
  padding: 20px 212px 128px;
}

.hero p {
  color: #E5E7EB;
}

.content {
  display: flex;
  align-items: center;
}

.content div,
.content img {
  flex: 1;
}

.content div {
  margin-right: 16px;
}

.content div p {
  font-size: 18px;
  margin-bottom: 16px;
}

.content img {
  align-self: stretch;
  background-color: #6D747D;
}

.hero button {
  background-color: #3B82F6;
  border-radius: 8px;
  border-width: 0;
  color: #F9FAF8;
  padding: 8px 32px;
  font-size: 18px;
  font-weight: 700;
}

.box-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 48px 304px 96px;
}

.boxes {
  display: flex;
  justify-content: center;
  gap: 64px;
}

.boxes p {
  color: #56606D;
  font-size: 18px;
  text-align: center;
}

.boxes>div {
  flex: 1;
}

.boxes div div {
  height: 0;
  width: 100%;
  padding-top: 100%;
  border: 4px solid #3B82F6;
  border-radius: 16px;
  margin-bottom: 8px;
  position: relative;
  overflow: hidden;
}

.boxes>div>div>img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.testimony {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  padding: 96px 336px 64px;
}

.testimony .quote {
  color: #1F2937;
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
}

.testimony p {
  font-size: 24px;
  font-weight: 700;
  align-self: flex-end;
}